<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static' filename = css/style.css)}}">
    <title>User Profile</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('user')}}">User Profile</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('search')}}">Search</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content % }
        <h1>User Profile</h1>
        <h1>Search history</h1>
        <h1>My channels</h1>
        <h1>Liked Videos</h1>
        {% endblock content %}
    </main>
    <footer>
        
    </footer>
</body>
</html>